#printPreviewVBox {
        -fx-background-color: rgb(255, 255, 255);
        -fx-border-color: black;
        -fx-border-width: 1;
}

#headerGridPane, #personalGridPane, #topGridPane, #qualitatssicherungVBox {
    -fx-border-color: black;
    -fx-border-width: 1;
}



.printPrevVBox{

    .label{
        -fx-font-family: Arial;
        -fx-font-size: 12px;
    }

    #headerText1, #personalLabel, #ppDatumLabel, #ppSchneidtagLabel, #ppSchichtLabel, #ppLinieLabel,
                  #pplinienfuhrerLabel, #ppSchalerLabel, #ppEinlegerLabel, #ppAbsch1Label, #ppAbsch2Label {
        -fx-font-family: Arial;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
    }
    
    #headerText2 {
        -fx-font-family: Arial;
        -fx-font-size: 12px;
        -fx-font-weight: bold;
    }

}


