#printPreviewVBox {
        -fx-background-color: rgb(255, 255, 255);
        -fx-border-color: black;
        -fx-border-width: 1;
}

#headerGridPane, #personalGridPane, #topGridPane, #prduktionsDokumentationGridPane {
    -fx-border-color: black;
    -fx-border-width: 1;
}

#qsReportsVBox, #abschKistenReport {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#abschArtikelNummer, #abschBezeichnung {
        -fx-font-size: 18px;
}

#abschChargennummer, #abschMHD {
        -fx-font-size: 14px;
        -fx-font-weight: bold;
}


.printPrevVBox{

    .label{
        -fx-font-family: Arial;
        -fx-font-size: 12px;
    }

    #headerText1, #ppPersonalLabel, #ppDatumLabel, #ppSchneidtagLabel, #ppSchichtLabel, #ppLinieLabel,
                  #pplinienfuhrerLabel, #ppSchalerLabel, #ppEinlegerLabel, #ppAbsch1Label, #ppAbsch2Label,
                  #ppProduktionsdokumentationLabel, #ppArtikelNrLabel, #ppBezeichnungLabel,
                  #ppZeitBeginnLabel, #ppZeitEndeLabel, #ppMHDLabel, #ppChargennummerLabel{
        -fx-font-family: Arial;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
    }
    
    #headerText2 {
        -fx-font-family: Arial;
        -fx-font-size: 12px;
        -fx-font-weight: bold;
    }

}


